@model IEnumerable<QuestRoomCatalog.BusinessLayer.BusinessObjects.QuestsRoomsBO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameQuestsRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecriptionQuestsRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeForQuest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxGamer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinGamer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FearsLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplexitysLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameQuestsRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecriptionQuestsRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeForQuest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxGamer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinGamer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FearsLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplexitysLevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
